{% extends "issue_tracker/base.html" %}
{% block content %}
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Overview</li>
          </ol>
      </nav>
      <h1 class="h2">Dashboard  </h1>
      <div class="card">
        <h5 class="card-header text-center" style="font-size: 17px; font-weight: bold; font-weight: 550; ">Report issue</h5>
        <div class="card-body">
        <form method="POST" action='' id="personForm"
        data-users_assigned-url="{% url 'issue_tracker:ajax_load_users' %}"
        novalidate>
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-success">Confirm</button>
        </form>
       
      </div>
        </div>
    
  </main>

  <form
  method="POST"
  id="personForm1"
  data-users_assigned-url="{% url 'issue_tracker:ajax_load_users' %}"
  novalidate>
  {% csrf_token %}
  <select id="id_project">
    <option value="1">Test</option>
    <option value="2">Test2</option>
  </select>

  <select id="id_user_assigned"></select>

  <button type="submit">Save</button>
  <a href="{% url 'issue_tracker:add-issue' %}">Nevermind</a>
</form>

<script>
  let project = document.querySelector("#id_project");
  let user_assigned = document.querySelector("#id_user_assigned");
  let personForm = document.querySelector("#personForm");
  
  project.addEventListener("change", () => {  
    let url = personForm.getAttribute("data-users_assigned-url");
    var projectId = project.value;

    fetch(url +'?project='+ projectId)
      .then(response => response.text())
      .then(data => {

        user_assigned.innerHTML = data;
      });
  });
</script>

{% endblock %} 



