{% load i18n lazysignup_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Issue-Tracker</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
    integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
  <style>
    .sidebar {
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 100;
      padding: 41px 0 0;
      box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
      z-index: 99;
    }

    @media (max-width: 767.98px) {
      .sidebar {
        top: 8.5rem;
        padding: 0;
      }
    }

    .navbar {
      box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
    }

    @media (min-width: 767.98px) {
      .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
      }
    }

    .sidebar .nav-link {
      color: #333;
    }

    .sidebar .nav-link.active {
      color: #0d6efd;
    }
  </style>
</head>

<body>
  <nav class="navbar navbar-light bg-light p-2">
    <div
      class="d-flex col-7 col-md-1 col-lg-3 col-sm-7 col-xs-8 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
      <a class="navbar-brand" href="#">
        Issue-Tracker

      </a>
      <button class="navbar-toggler d-md-none collapsed mb-3 " type="button" data-toggle="collapse"
        data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>





    <div
      class="col-5 col-xs-2 col-sm-5 col-md-6 col-lg-5 d-flex align-items-center justify-content-md-end mt-3 mt-md-0 ">
      {% if user|is_lazy_user %}
      <p class="btn mb-3 mt-2" style="font-size:14px">
        <b>You are demo user </b>

        {% if request.user.groups.all.0.name == 'developer' %}

        {% else %}
        {% if request.user.groups.all.0.name == 'leader' %}
        {% else %}
        <a class="link-danger" href="{% url 'issue_tracker:set-demo-user' %}"><b>Click here to get developer and project
            leader permissions</b></a>
      </p>
      {% endif %}


      {% endif %}
      {% else %}

      <b>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
        &nbsp; &nbsp; &nbsp; </b>
      </p>
      {% endif %}

      <div class="dropleft">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-expanded="false">
          Options
        </button>
        <ul class="dropdown-menu" aria-lab
        elledby="dropdownMenuButton">
        
          <li><a class="dropdown-item">User:<br> {{user|make_list|slice:':6'|join:''}}</a></li>
          <li><a class="dropdown-item mb-0" >Roles:
            <p style="color: rgb(248, 37, 0)">
            {% for group in request.user.groups.all %}
            {{group}}
            {% if forloop.last %} 
            
            {% else %}
            <br>
            {% endif %}
            
            {% endfor %}
            
          </p>
            </a></li>
          <li><a class="dropdown-item" href="{% url 'issue_tracker:logout-page' %}">Sign out</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container-fluid">
    <div class="row">
      <nav id="sidebar" class="col-md-3 col-lg-2 mt-1 d-md-block bg-light sidebar collapse">
        <div class="position-sticky">
          <ul class="nav flex-column text-center">
            <li class="nav-item ">
              <a class="nav-link disabled" aria-current="page" href="{% url 'issue_tracker:main' %}">
                <div class="row">
                  <span class="col-12 bg-ligt">
                    <br>
                    <div class="text white">Menu:</div>

                  </span>
                </div>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:apply-project-list-all' %}">

                {% if request.user.groups.all.0.name == 'developer' or request.user.groups.all.0.name == 'leader' %}

                <span class="ml-2 mt-0">Apply for projects</span>
              </a>
            </li>
           
                {% else %}
                <b><span class="ml-2 mt-0 text-danger">Apply for projects</span></b>
              </a>
            </li>


                {% endif %}

            {% if 'leader' == request.user.groups.all.0.name or 'leader' == request.user.groups.all.1.name or 'leader' == request.user.groups.all.2.name    %}

            
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:manage-developers-applications-list' %}">
            <span class="ml-2">Manage application</span>
            </a>
            </li>
            {% elif 'admin' == request.user.groups.all.0.name or 'admin' == request.user.groups.all.1.name or 'admin' == request.user.groups.all.2.name    %}
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:manage-developers-applications-list' %}">
            <span class="ml-2">Manage application</span>
            </a>
            </li>
            {% endif %}


            
            
            {% if 'leader' == request.user.groups.all.0.name or 'leader' == request.user.groups.all.1.name or 'leader' == request.user.groups.all.2.name    %}

            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:manage-projects-list' %}">

                <span class="ml-2">Manage projects and issues in them</span>
              </a>
            </li>

            {% elif 'admin' == request.user.groups.all.0.name or 'admin' == request.user.groups.all.1.name or 'admin' == request.user.groups.all.2.name    %}

            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:manage-projects-list' %}">

                <span class="ml-2">Manage projects and issues in them</span>
              </a>
            </li>





            {% endif %}
            

            
            {% for group in request.user.groups.all %}
            {% if 'admin' == group.name %}

            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:all-projects' %}">

                <span class="ml-2">All projects</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:all-issues' %}">

                <span class="ml-2">All issues</span>
              </a>
            </li>

            {% endif %}
            {% endfor %}



            {% if 'leader' == request.user.groups.all.0.name or 'leader' == request.user.groups.all.1.name or 'leader' == request.user.groups.all.2.name    %}

            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:my-projects' %}">

                <span class="ml-2">My projects</span>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:my-issues' %}">

                <span class="ml-2 text-center">Active issues</span>
              </a>
            </li>
            
            <li class="nav-item">
              <a class="nav-link py-0" href="{% url 'issue_tracker:add-issue' %}">

                <span class="ml-2">Report issue</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:reported-issues' %}">

                <span class="ml-2">Reports I've made</span>
              </a>
            </li>




            {% elif 'developer' == request.user.groups.all.0.name or 'developer' == request.user.groups.all.1.name or 'developer' == request.user.groups.all.2.name    %}
           
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:my-projects' %}">

                <span class="ml-2">My projects</span>
              </a>
            </li>


            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:my-issues' %}">

                <span class="ml-2 text-center">Active issues</span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link py-0" href="{% url 'issue_tracker:add-issue' %}">

                <span class="ml-2">Report issue</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-1" href="{% url 'issue_tracker:reported-issues' %}">

                <span class="ml-2">Reports I've made</span>
              </a>
            </li>



            {% endif %}




          </ul>
        </div>
      </nav>
      {% block content %}{% endblock %}
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
    integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.js"></script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <script>
    new Chartist.Line('#traffic-chart', {
      labels: ['January', 'Februrary', 'March', 'April', 'May', 'June'],
      series: [
        [23000, 25000, 19000, 34000, 56000, 64000]
      ]
    }, {
      low: 0,
      showArea: true
    });
  </script>
</body>

</html>