{% extends "issue_tracker/base.html" %}
{% block content %}


<style>
  .issue-card {
    transition: background-color 0.2s;
  }
  .issue-card:hover {
    background-color: #eeebeb;
  }
</style>
<div class= 'col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4'>
<nav aria-label="breadcrumb" style="padding: 20px">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Overview</li>
  </ol>
</nav>

<main
  class="container px-4"
  style="cursor: pointer"
  onclick="location.href = 'https:/google.pl' "
>

<container class="card">
  <div class="card card-header">Issues assigned to me:</div>
{% for issue in page_obj1 %}
  <article class="card mb-3 issue-card">
    <div class="card-body">
      <h5 class="card-title">{{issue.title}}</h5>
      <h6 class="card-subtitle text-muted">
        <a href="">{{issue.project}}</a> / <a href=""class="d-none">{{issue.user_assigned}}</a> -
        <b> {{issue.update_date}}</b>
        <i>
          <small class="text-muted">{{issue.create_date.date}} {{issue.create_date|date:"H:i"}}</small>
        </i>
      </h6>

      <div class="mt-1">
        <span class="badge bg-dark">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle-fill me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
          {{issue.type}}
        </span>
        <span class="badge bg-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-clock-fill me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
            />
          </svg>
          {{issue.priority}}</span
        >
        <span class="badge bg-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-broadcast me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"
            />
          </svg>
          {{issue.status}}</span
        >
      </div>
    </div>
  </article>
  {% endfor %}
<div class="card card-footer text-center">Page {{page_obj1.number}}/{{page_obj1.paginator.num_pages}}</div>
<div class="d-flex justify-content-center">
{% if page_obj1.has_previous %}
  
            
            <a class="btn flex-fill" href="?page1={{ page_obj1.previous_page_number }}&page2={{page_obj2.number}}">&laquo; Previous  &nbsp;  </a>
  {% endif %}  
  {% if page_obj1.has_next %}
  
            <a class="btn flex-fill" href="?page1={{ page_obj1.next_page_number }}&page2={{page_obj2.number}}">Next &raquo;</a>
            
  {% endif %}
</div>  
</container>
</main>
</div>

<div class= 'col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4'>
  
<main
  class="container px-4"
  style="cursor: pointer"
  onclick="location.href = 'https:/google.pl' "
>

<container class="card">
  <div class="card card-header">Issues in my project:</div>
{% for issue2 in page_obj2 %}
  <article class="card mb-3 issue-card">
    <div class="card-body">
      <h5 class="card-title">{{issue2.title}}</h5>
      <h6 class="card-subtitle text-muted">
        <a href="">{{issue2.project}}</a> / <a href=""class="">{{issue2.user_assigned}}</a> -
        <b> {{issue2.update_date}}</b>
        <i>
          <small class="text-muted">{{issue2.create_date.date}} {{issue2.create_date|date:"H:i"}}</small>
        </i>
      </h6>

      <div class="mt-1">
        <span class="badge bg-dark">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-info-circle-fill me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"
            />
          </svg>
          {{issue.type}}
        </span>
        <span class="badge bg-secondary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-clock-fill me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8 3.5a.5.5 0 0 0-1 0V9a.5.5 0 0 0 .252.434l3.5 2a.5.5 0 0 0 .496-.868L8 8.71V3.5z"
            />
          </svg>
          {{issue2.priority}}</span
        >
        <span class="badge bg-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-broadcast me-1"
            viewBox="0 0 16 16"
          >
            <path
              d="M3.05 3.05a7 7 0 0 0 0 9.9.5.5 0 0 1-.707.707 8 8 0 0 1 0-11.314.5.5 0 0 1 .707.707zm2.122 2.122a4 4 0 0 0 0 5.656.5.5 0 1 1-.708.708 5 5 0 0 1 0-7.072.5.5 0 0 1 .708.708zm5.656-.708a.5.5 0 0 1 .708 0 5 5 0 0 1 0 7.072.5.5 0 1 1-.708-.708 4 4 0 0 0 0-5.656.5.5 0 0 1 0-.708zm2.122-2.12a.5.5 0 0 1 .707 0 8 8 0 0 1 0 11.313.5.5 0 0 1-.707-.707 7 7 0 0 0 0-9.9.5.5 0 0 1 0-.707zM10 8a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"
            />
          </svg>
          {{issue2.status}}</span
        >
      </div>
    </div>
  </article>
{% endfor %}
<div class="card card-footer text-center">Page {{page_obj2.number}}/{{page_obj2.paginator.num_pages}} </div>

  <div class="d-flex justify-content-center">
  {% if page_obj2.has_previous %}
  
            
            <a class="btn flex-fill" href="?page1={{page_obj1.number}}&page2={{ page_obj2.previous_page_number }}">&laquo; Previous  &nbsp;  </a>
  {% endif %}  
  {% if page_obj2.has_next %}
  
            <a class="btn flex-fill" href="?page1={{page_obj1.number}}&page2={{ page_obj2.next_page_number }}">Next &raquo;</a>
            
  {% endif %}

</div>
</container>
</main>
</div>
<!-- 
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Overview</li>
          </ol>
      </nav>
      <h1 class="h2">Dashboard  </h1>
      <div class="card">
        <h5 class="card-header text-center" style="font-size: 17px; font-weight: bold; font-weight: 550; ">Issues assigned to me</h5>
        <div class="card-body">
      <div class="table table-responsive text">
        
        <table class="table table-hover table-responsive"  style="font-size: 12px; font-weight: bold; font-weight: 550; ">
        
        <thead>
          <tr>
            <th class="" scope="col">Title</th>
            <th class="" scope="col">Project</th>
            <th class="d-none" scope="col">User assigned</th>
            <th class="" scope="col">Priority</th>
            <th class=""scope="col">Type</th>
            <th class=""scope="col">Status</th>
            <th class=""scope="col">Created</th>
            <th class=""scope="col">Updated</th>
            <th class=""scope="col">Options</th>
          </tr>
        </thead>

        <tbody class="table table-striped">
          {% for issue in my_issues %}
          
          <tr>
            <td>{{issue.title}}</td>
            <td>{{issue.project}}</td>
            <td class="d-none">{{issue.user_assigned}}</td>
            <td>{{issue.priority}}</td>
            <td>{{issue.type}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.create_date}}</td>
            <td>{{issue.update_date}}</td>
            <td>Detail</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
        </div>
      </div>


      <div class="card">
        <h5 class="card-header text-center" style="font-size: 17px; font-weight: bold; font-weight: 550; ">Issues in my projects</h5>
        <div class="card-body">
      <div class="table table-responsive text">
        
        <table class="table table-hover table-responsive"  style="font-size: 12px; font-weight: bold; font-weight: 550; ">
        
        <thead>
          <tr>
            <th class="" scope="col">Title</th>
            <th class="" scope="col">Project</th>
            <th class="" scope="col">User assigned</th>
            <th class="" scope="col">Priority</th>
            <th class=""scope="col">Type</th>
            <th class=""scope="col">Status</th>
            <th class=""scope="col">Created</th>
            <th class=""scope="col">Updated</th>
            <th class=""scope="col">Options</th>
          </tr>
        </thead>

        <tbody class="table table-striped">
          {% for issue in my_project_issues %}
          <tr>
            <td>{{issue.title}}</td>
            <td>{{issue.project}}</td>
            <td class="">{{issue.user_assigned}}</td>
            <td>{{issue.priority}}</td>
            <td>{{issue.type}}</td>
            <td>{{issue.status}}</td>
            <td>{{issue.create_date}}</td>
            <td>{{issue.update_date}}</td>
            <td>Detail</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      </div>
        </div>
      </div>


      <div class="row my-4">
          <div class="col-12 col-md-6 col-lg-3 mb-4 mb-lg-0">
              <div class="card">
                  <h5 class="card-header">Customers</h5>
                  <div class="card-body">
                    <h5 class="card-title">345k</h5>
                    <p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-success">18.2% increase since last month</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Revenue</h5>
                  <div class="card-body">
                    <h5 class="card-title">$2.4k</h5>
                    <p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-success">4.6% increase since last month</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Purchases</h5>
                  <div class="card-body">
                    <h5 class="card-title">43</h5>
                    <p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-danger">2.6% decrease since last month</p>
                  </div>
                </div>
          </div>
          <div class="col-12 col-md-6 mb-4 mb-lg-0 col-lg-3">
              <div class="card">
                  <h5 class="card-header">Traffic</h5>
                  <div class="card-body">
                    <h5 class="card-title">64k</h5>
                    <p class="card-text">Feb 1 - Apr 1, United States</p>
                    <p class="card-text text-success">2.5% increase since last month</p>
                  </div>
              </div>
          </div>
      </div>
      <div class="row">
          <div class="col-12 col-xl-8 mb-4 mb-lg-0">
              <div class="card">
                  <h5 class="card-header">Latest transactions</h5>
                  <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                              <thead>
                                <tr>
                                  <th scope="col">Order</th>
                                  <th scope="col">Product</th>
                                  <th scope="col">Customer</th>
                                  <th scope="col">Total</th>
                                  <th scope="col">Date</th>
                                  <th scope="col"></th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">17371705</th>
                                  <td>Volt Premium Bootstrap 5 Dashboard</td>
                                  <td>johndoe@gmail.com</td>
                                  <td>€61.11</td>
                                  <td>Aug 31 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">17370540</th>
                                  <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                  <td>jacob.monroe@company.com</td>
                                  <td>$153.11</td>
                                  <td>Aug 28 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">17371705</th>
                                  <td>Volt Premium Bootstrap 5 Dashboard</td>
                                  <td>johndoe@gmail.com</td>
                                  <td>€61.11</td>
                                  <td>Aug 31 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">17370540</th>
                                  <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                  <td>jacob.monroe@company.com</td>
                                  <td>$153.11</td>
                                  <td>Aug 28 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">17371705</th>
                                  <td>Volt Premium Bootstrap 5 Dashboard</td>
                                  <td>johndoe@gmail.com</td>
                                  <td>€61.11</td>
                                  <td>Aug 31 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                                <tr>
                                  <th scope="row">17370540</th>
                                  <td>Pixel Pro Premium Bootstrap UI Kit</td>
                                  <td>jacob.monroe@company.com</td>
                                  <td>$153.11</td>
                                  <td>Aug 28 2020</td>
                                  <td><a href="#" class="btn btn-sm btn-primary">View</a></td>
                                </tr>
                              </tbody>
                            </table>
                      </div>
                      <a href="#" class="btn btn-block btn-light">View all</a>
                  </div>
              </div>
          </div>
          <div class="col-12 col-xl-4">
              <div class="card">
                  <h5 class="card-header">Traffic last 6 months</h5>
                  <div class="card-body">
                      <div id="traffic-chart"></div>
                  </div>
              </div>
          </div>
      </div>
      <footer class="pt-5 d-flex justify-content-between">
          <span>Copyright © 2019-2020 <a href="https://themesberg.com">Themesberg</a></span>
          <ul class="nav m-0">
              <li class="nav-item">
                <a class="nav-link text-secondary" aria-current="page" href="#">Privacy Policy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Terms and conditions</a>
              </li>
              <li class="nav-item">
                <a class="nav-link text-secondary" href="#">Contact</a>
              </li>
            </ul>
      </footer>
  </main>
-->
{% endblock %} 