{% extends "issue_tracker/base.html" %}
{% block content %}


<style>
  .issue-card {
    transition: background-color 0.2s;
  }
  .issue-card:hover {
    background-color: #eeebeb;
  }
</style>
<div class= 'col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4'>
 



<container class="card">
  <div class="card card-header">
    
    <div class="row">
      <div class="col col-12"></div>
      
    <div class="col col-12">
      
        <div class="text-center mt-2 ">My projects </div>
    </div>
     
    </div>


  </div>
<main
  class="container px-4" 
>
{% for project in projects %}
  <article class="card mb-3 mt-3 issue-card" style="cursor: pointer"
  onclick="location.href = `{% url 'issue_tracker:project-details'  project.pk  %}` ">
    <div class="card-body text-center">
      <h5 class="card-title">{{project.name}}</h5>
      

      <div class="mt-1">
        {% for user in project.developer.all %}
        <span class="badge bg-primary">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            class="bi bi-broadcast me-1"
            viewBox="0 0 16 16"
          >
          
          <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
          </svg>
          {{user|make_list|slice:':6'|join:''}}</span
        >
        {% endfor %} 
      </div>
    </div>
  </article>
  {% endfor %} 
</container>
</main>
</div>

{% endblock %} 