{% extends "issue_tracker/base.html" %}
{% block content %}


<style>
  .issue-card {
    transition: background-color 0.2s;
  }

  .issue-card:hover {
    background-color: #eeebeb;
  }
</style>
<div class='col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4'>
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Overview</li>
    </ol>
</nav>

  <main class="container px-4">


    <container class="card">
      <div class="card card-header">
        
        <div class="row">
          <div class="col col-12"></div>

          <div class="col col-12">

            <div class="text-center mt-2 "> Project </div>
          </div>

        



  
    <container class="card">
    <div class="card-body"> 
      <div class="row">
      <section class="col-4">


        <div class="text-center">
            <h5 class="card-title">{{project.name}}</h5>


            <div class="mt-1">
              

              <span class="badge bg-danger">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-broadcast me-1" viewBox="0 0 16 16">

                  <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" />
                </svg>
                Leader: {{project.leader}}</span>
          </div>
            </div>
           
      </section>

        <section class="col-4">
          
          


          
          
            
          <div class="text-center">
              <a  class="btn btn-primary" href= "{% url 'issue_tracker:project-apply-developer' pk %}"> Apply for <br> developer position </a>
          </div>
          
        
        </section>

        <section class="col-4">
        
          
            
          <div class="text-center">
              <a class="btn btn-primary" href= "{% url 'issue_tracker:project-apply-leader' pk %}"> Apply for <br> leader position </a>
          </div>
          
       
        </section>
      </div>
    </div>
    </container>
    
 
  
  



</div>
</main>
{% endblock %}