{% extends "issue_tracker/base.html" %}
{% block content %}
  <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
      
      <div class="card">
        <center>
        <h5 class="card-header text-center" style="font-size: 17px; font-weight: bold; font-weight: 550; ">Report issue</h5>
        <div class="card-body">
    
        <form method="POST" action=''>
        {% csrf_token %}
      <section class="row">
        <article class="col-6">
          <br>
          {{ form.creator }}
          {{ form.project }}
          {{ form.update_date }}
          
          Title: 
          {{ form.title }}
          <br><br>
          Priority: 
          {{ form.priority }}
          <br><br>
          Type: 
          {{ form.type }}
          <br><br>
          Status: 
          {{ form.status }}
          <br><br>
          User assigned: 
          {{ form.user_assigned }}
          <br>
        </article>
        <article class="col-6">
          Description
          <br><br>
          {{ form.description }}
          
        </article>
    </section>
    <section class="row">
      <article class="col-12">    
          <button type="submit" class="btn btn-success mt-2">Update</button>
        </form> 
      </article>
    </section>    
      </div>
        </div>
    
  </main>

{% endblock %} 



